@page "/AddDoctor"
@inherits AddDoctorComponentBase






<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/ListDoctor.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
            <div class="text-center mx-auto">
                <h3>
                    List of available doctors
                </h3>
            </div>
        </div>

    </div>
</div>


<div class="shadow-lg p-3 mb-5 bg-light rounded">
<table class="table caption-top">
    <caption class="text-center">List of Doctor</caption>
    <thead>
        <tr>
            <th scope="col">first Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Sexe</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Number Phone</th>
            <th scope="col">Speciality</th>
            <th scope="col">Send Invitation</th>

        </tr>
    </thead>
        @if (IsLoading == true)
        {
            <WaitComponent />
        }
   
    <tbody>
        

        @foreach(var item in Informations){

       
        <tr>
            <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Sexe</td>
                <td>@item.DateOfBirth.ToString("yyyy/MM/dd")</td>
                <td>@item.NumberPhone</td>
                <td>@foreach (var Sp in @item.Specialities)
                    {
                         <a>@Sp</a><br />

                       
                    }   
                    </td>
                    <td>
                        <button @onclick="() =>SendInvitation(item.IdUser)" class="btn btn-success">
                            Send Invitation <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                            </svg>
                    @if(Index==item.IdUser){

                    
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    }
                </button></td>
        </tr>
        }
    </tbody>
</table>
</div>
@if (IsLoading == true)
{
    <WaitComponent></WaitComponent>
}
