@page "/FilesMedicalPatient/{IdAppointment}"
@inherits FilesMedicalPatientComponentBase





@if(ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}

@if(SuccessMessage != null)
{
    <CorrectRoutingMessage></CorrectRoutingMessage>
}



@if (IsLoading == true)
{
    <WaitComponent />
}
@if (FilesMainPatient != null)
{


    <div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/FileLogo.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item border-bottom">First Name : @FilesMainPatient.MainUser.FirstName</li>
                    <li class="list-group-item border-bottom">Last Name: @FilesMainPatient.MainUser.LastName</li>
                    <li class="list-group-item border-bottom">Sexe : @FilesMainPatient.MainUser.Sexe</li>
                    <li class="list-group-item border-bottom">National Number : @FilesMainPatient.MainUser.NationalNumber</li>
                    <li class="list-group-item border-bottom">Phone Number : @FilesMainPatient.MainUser.NumberPhone</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <br />
    <br />



    @foreach (var item in FilesMainPatient.fileMedicals.ToList())
    {
        <div class="shadow-lg p-3 mb-5 bg-light rounded">
        <div class="card">
            <h5 class="card-header">Partial File</h5>
            <div class="card-body">
                <h5 class="card-title">FullName :@item.FirstName,@item.LastName</h5>
                <p class="card-text">Date of Birth :@item.DateOfBirth</p>
                <p class="card-text">Sexe :@item.Sexe</p>
                <p class="card-text">count Order Medical : @item.CountOrderMedical</p>
                <p class="card-text">Date Of Create :@item.DateOfCreate</p>
                @if (@item.Doctor != null)
                {
                      <p class="card-text">Doctor Create File Medical :@item.Doctor.FirstName @item.Doctor.LastName  </p>
                }
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <button @onclick="()=>GetInformationFileMedicalUpdate(item.Id)" class=" btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Update File</button>
                            </div>
                            <div class="col">
                                <button class=" btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" @onclick="()=>ShowchronicDiseases(item.Id)">chronic diseases</button>
                        </div>
                            <div class="col">
                                <button class=" btn btn-dark w-100" @onclick="()=>OnNavigateToOrdreMedical(item.Id)" >Order Medical</button>
                            </div>
                        </div>
                        </div>
            </div>
        </div>
        </div>

    }
}


<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">chronic diseases</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if(FileMedicalToUpdate != null)
                {
                    <EditForm Model="FileMedicalToUpdate" OnValidSubmit="OnUpdateFileMedical">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-floating  ">
                            <InputText type="texte" class="form-control" @bind-Value="FileMedicalToUpdate.LastName" id="LastName" placeholder="LastName"></InputText>
                            <label for="floatingPassword">Last Name</label>
                        </div>
                        <div class="form-floating  ">
                            <InputText type="text" class="form-control" @bind-Value="FileMedicalToUpdate.FirstName" id="FirstName" placeholder="FirstName"></InputText>
                            <label for="floatingPassword">First Name</label>
                        </div>
                        <div class="form-floating">
                            <InputSelect class="form-control" @bind-Value="@FileMedicalToUpdate.Sexe">

                                <option value="1">Male </option>

                                <option value="2"> Famme </option>

                            </InputSelect>
                            <label for="floatingPassword">Sexe</label>
                        </div>
                        <div class="form-floating">
                            <InputDate class="form-control" @bind-Value="FileMedicalToUpdate.DateOfBirth"></InputDate>
                            <label for="floatingPassword">Date Of Birth</label>
                        </div>

                        @foreach (var item in FileMedicalToUpdate.ChronicDiseases.ToList())
                        {
                            <button type="button" style="border-radius:15px;" class="btn btn-danger" @onclick="() => DeleteMaladieOnUpdate(item)">@item.name -</button>
                        }
                        <hr />
                        @if(chronicDiseasesUpdateDtosNotIn != null)
                        {
                            @foreach (var item in chronicDiseasesUpdateDtosNotIn)
                            {
                                <button type="button" style="border-radius:15px;" class="btn btn-primary " @onclick="() => AddMaladieOnUpdate(item)">@item.name +</button>
                            }
                        }

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Update File</button>

                        </div>

                    </EditForm>
                }
               
            </div>
           

        </div>
    </div>
</div>

<!-- Modal Chronic Maladie -->

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">chronic diseases</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    @foreach (var Maladie in chronicDiseasesDtosPatient)
                    {
                        <li class="list-group-item">@Maladie.name</li>
                    }
                </ul>
               
            </div>
         
        </div>
    </div>
</div>


<!-- Modal Add File -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <EditForm Model="fileMedicalToAdd" OnValidSubmit="OnAddFileMedical">
                   <DataAnnotationsValidator />
                   <ValidationSummary />
                    <div class="form-floating  ">
                        <InputText type="texte" class="form-control" @bind-Value="fileMedicalToAdd.LastName" id="LastName" placeholder="LastName"></InputText>
                        <label for="floatingPassword">Last Name</label>
                    </div>
                    <div class="form-floating  ">
                        <InputText type="text" class="form-control" @bind-Value="fileMedicalToAdd.FirstName" id="FirstName" placeholder="FirstName"></InputText>
                        <label for="floatingPassword">First Name</label>
                    </div>
                    <div class="form-floating">
                        <InputSelect class="form-control" @bind-Value="@fileMedicalToAdd.Sexe">

                            <option value="1">Male </option>

                            <option value="2"> Famme </option>

                        </InputSelect>
                        <label for="floatingPassword">Sexe</label>
                    </div>
                    <div class="form-floating">
                        <InputDate class="form-control" @bind-Value="fileMedicalToAdd.DateOfBirth"></InputDate>
                        <label for="floatingPassword">Date Of Birth</label>
                    </div>
                  
                    @foreach (var item in chronicDiseasesDtosNotInToAdd)
                    {
                        <button type="button" style="border-radius:15px;" class="btn btn-primary" @onclick="() => AjouterMaladie(item)">@item.name +</button>
                    }

                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" @onclick="OnAddFileMedical" data-bs-dismiss="modal">Add File </button>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="form-control">
        <button class="btn btn-secondary" @onclick="BtnOnAddFile" style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+ Add File Medical</button>
    </div>
</div>