@page "/JobsDoctor"
@inherits JobsDoctorComponentBase


@if(ErrorMessage != null){
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}



@if(Isloding){
    <WaitComponent></WaitComponent>
}



@foreach(var item in jobs){
    <div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                    @if(item.Image != null)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(item?.Image)}")" class="img-fluid rounded-start " style="height:100%;" alt="...">
                    }
               
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> @item.nameCabinet</h5>
                    <p class="card-text">Address : @item.Adress</p>
                    <p class="card-text">Services : @item.Services</p>
                        <p class="card-text">Number Phone:@item.NumberPhone</p>
                       
                 
                </div>
            </div>
        </div>
            <div class="align-self-end ml-auto ">
                @if(item.StatusServiceDoctor == DTO.StatusWorkDoctor.accepted){
                    <button @onclick="()=>OnInAcceptJob(item.IdJob)" class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z" />
                        </svg>   Stop Work
                        @if (Index == item.IdJob)
                        {


                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        }
                    </button>
                }
                else @if (item.StatusServiceDoctor == DTO.StatusWorkDoctor.Notaccepted){
                    <button @onclick="()=>OnBackJob(item.IdJob)" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z" />
                        </svg>  Back Work
                        @if (Index == item.IdJob)
                        {


                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        }
                    </button>
                }

                <a href="/JobSetting/@item.IdJob.Replace("/","*")">
                    <button class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5ZM12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5ZM1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8Zm9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5Zm1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z" />
                        </svg> setting
                    </button>
                </a>
            </div>
    </div>
    </div>
}

