@page "/AppoimentPatientSecretary/{CabinetId}/{DoctorId}"
@inherits ListAppoimentPatientSecretaryComponentBase
@if (IsLoading == true)
{
    <WaitComponent />
}

<div class="container d-flex">
    <input @bind="DateAppoiment" type="date" class="form-control" /><button @onclick="OnSearch" class="btn btn-dark">Search</button>
</div>









<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
       
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add New File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                @foreach (var OrdreMedical in informationOrderMedicalSecritariesNotValidate.ToList())
                {
                    <div class="shadow-lg p-3 mb-5 bg-light rounded">
                        <div class="card">
                            <h5 class="card-header">Partial File</h5>
                            <div class="card-body">
                                <h5 class="card-title">FullName :@OrdreMedical.informationFile.FirstName,@OrdreMedical.informationFile.LastName</h5>
                                <p class="card-text">Date of Birth :@OrdreMedical.informationFile.DateBirth</p>
                                <p class="card-text">Sexe :@OrdreMedical.informationFile.sexe</p>
                                <p class="card-text">Date Of Release : @OrdreMedical.informationOrdreMedical.DateCreate</p>
                                
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <button class=" btn btn-success w-100"  @onclick="()=>OnValidateOrdreMedical(OrdreMedical.informationOrdreMedical.Id)">Validate Ordre Medical</button>
                                        </div>
                                        <div class="col">
                                            <button class=" btn btn-primary w-100" data-bs-toggle="modal" @onclick="()=>OnShowAccountPatientOrdreMedical(OrdreMedical.informationOrdreMedical.Id)" data-bs-target="#staticBackdrop2">Information Account</button>
                                        </div>
                                        <div class="col">
                                            <button @onclick="()=>OnUpdateOrdreMedicalId(OrdreMedical.informationOrdreMedical.Id)" class=" btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Show Detaill</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Add File </button>

                </div>
            </div>
        
    </div>
</div>




<div class="container">
    <div class="form-control">
        <button class="btn btn-secondary" style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ordre Medical</button>
    </div>
</div>


<div class="shadow-lg p-3 mb-5 alert-warning rounded">
    <p class="text-center">list Doctor our service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosTreated)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                  

                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />

<div class="shadow-lg p-3 mb-5 alert-primary rounded">
    <p class="text-center">list Doctor our service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Count Appoiment</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">absent status</th>
                <th scope="col">treatment Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosStill)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName -- @item.PatientInformation.LastName</td>
                    <td>@item.PatientAppoimentInformation.AppoimentCount</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnAbsent(item.PatientAppoimentInformation.Id)" class="btn btn-danger">
                            absent
                            @if (IndexBtnOne == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>
                    <td>
                        <button @onclick="()=>OnTreated(item.PatientAppoimentInformation.Id)" class="btn btn-warning">
                            to treat
                            @if (IndexBtnTwo == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>


                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />
<div class="shadow-lg p-3 mb-5 alert-danger rounded">
    <p class="text-center">list Doctor our service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
               
                <th scope="col">treatment Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosAbsent)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnTreated(item.PatientAppoimentInformation.Id)" class="btn btn-warning">
                            to treat
                            @if (IndexBtnTwo == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>

                </tr>
            }


        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">chronic diseases</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    
                    
                       <li class="list-group-item">@PatientInformationDto.LastName </li>
                <li class="list-group-item">@PatientInformationDto.FirstName</li>
                <li class="list-group-item">@PatientInformationDto.DateOfBirth</li>
                <li class="list-group-item">@PatientInformationDto.Sexe</li>
                <li class="list-group-item">@PatientInformationDto.NationalNumber</li>
                <li class="list-group-item">@PatientInformationDto.NumberPhone</li>
                
              
                    
                </ul>
               
            </div>
         
        </div>
    </div>
</div>




<div class="modal fade" id="staticBackdrop3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                  <tr>
                      
                       <td>File Prescription</td>
                        <td>File Radio</td>
                        <td>File Analyse</td>
                  </tr>
                    <tr>

                        <td><button @onclick="DownloadFilePrescription" class="btn btn-secondary">Download</button></td>
                        <td><button @onclick="DownloadFileRadio" class="btn btn-success">Download</button></td>
                        <td><button @onclick="DownloadFileAnalyse" class="btn btn-dark">Download</button></td>
                    </tr>


              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>