@page "/ListWorkingDoctor"
@inherits ListofWorkingDoctorsComponentBase




@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}




<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/DoctorClinic.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
            <div class="text-center mx-auto">
                <h3>
                    List of clinic doctors
                </h3>
            </div>
        </div>

    </div>
</div>
@if (IsLoading == true)
{
    <WaitComponent />
}
<br />
<br />
<div class="shadow-lg p-3 mb-5 bg-light rounded">
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Number Phone</th>
            <th scope="col">Delete</th>
            <th scope="col">Show Information</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in doctorCabinetDtos){
            <tr>
                <td scope="row">@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnDeleteJob(item.JobSettingDto.IdJob)" class="btn btn-danger" cla>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>Delete
                        @if (idIndex == item.JobSettingDto.IdJob)
                        {


                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        }
                </button></td>
                <td>
                    <!-- Button trigger modal -->

                    <button type="button" @onclick="()=>OnShowInformation(item.JobSettingDto)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>   Show Information
                    </button>

                    <!-- Modal -->
                  
                </td>
            </tr>
        }

       
    </tbody>
</table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        work start time
                        <span class="badge bg-primary rounded-pill">@jobSetting.startTime.TimeOfDay</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        work end time
                        <span class="badge bg-primary rounded-pill">@jobSetting.EndTime.TimeOfDay</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        The duration of the examination
                        <span class="badge bg-primary rounded-pill">@jobSetting.processingMinutes</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Number Patient Accepted
                        <span class="badge bg-primary rounded-pill">@jobSetting.NumberPatientAccepted</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Status Service
                        <span class="badge bg-primary rounded-pill">@jobSetting.statusService.ToString()</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Status Réservation
                        <span class="badge bg-primary rounded-pill">@jobSetting.StatusReservation.ToString()</span>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>
@if (IsLoading == true)
{
    <WaitComponent />
}


<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <p class="text-center">list Doctor out of service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Number Phone</th>
                <th scope="col">Delete</th>
           
            </tr>
        </thead>
        <tbody>
            @foreach (var itemTwo in DoctorsOutOfService)
            {
                <tr>
                    <td scope="row">@itemTwo.FirstName</td>
                    <td>@itemTwo.LastName</td>
                    <td>@itemTwo.Email</td>
                    <td>@itemTwo.NumberPhone</td>
                    <td>
                        <button type="button" @onclick="()=>OnDeleteJob(itemTwo.JobSettingDto.IdJob)" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg>  Delete
                          
                        </button>
                    </td>
                
                </tr>
            }


        </tbody>
    </table>
    </div>

<!-- Button trigger modal -->
@if (IsLoading == true)
{
    <WaitComponent />
}