@page "/AppoimentPatientSecretary/{CabinetId}/{DoctorId}"
@inherits ListAppoimentPatientSecretaryComponentBase
@if (IsLoading == true)
{
    <WaitComponent />
}

<div class="container d-flex">
    <input type="date" class="form-control"  /><button class="btn btn-dark">Search</button>
</div>
<div class="shadow-lg p-3 mb-5 alert-warning rounded">
    <p class="text-center">list Doctor our service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosTreated)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                  

                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />

<div class="shadow-lg p-3 mb-5 alert-primary rounded">
    <p class="text-center">list Doctor our service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Count Appoiment</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">set absent</th>
                <th scope="col">set Treated</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosStill)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName -- @item.PatientInformation.LastName</td>
                    <td>@item.PatientAppoimentInformation.AppoimentCount</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td><button class="btn btn-danger">absent</button></td>
                    <td><button class="btn btn-warning">Treatd</button></td>


                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />
<div class="shadow-lg p-3 mb-5 alert-danger rounded">
    <p class="text-center">list Doctor our service.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">Set Treated</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosAbsent)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td><button class="btn btn-warning">Treatd</button></td>

                </tr>
            }


        </tbody>
    </table>
</div>

