@page "/AppoimentPatientSecretary/{CabinetId}/{DoctorId}"
@inherits ListAppoimentPatientSecretaryComponentBase
@if (IsLoading == true)
{
    <WaitComponent />
}

<div class="container d-flex">
    <input @bind="DateAppoiment" type="date" class="form-control" /><button @onclick="OnSearch" class="btn btn-dark">Search</button>
</div>









<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
       
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Medical will</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                @foreach (var OrdreMedical in informationOrderMedicalSecritariesNotValidate.ToList())
                {
                    <div class="shadow-lg p-3 mb-5 bg-light rounded">
                        <div class="card">
                            <h5 class="card-header">Partial File</h5>
                            <div class="card-body">
                                <h5 class="card-title">FullName :@OrdreMedical.informationFile.FirstName,@OrdreMedical.informationFile.LastName</h5>
                                <p class="card-text">Date of Birth :@OrdreMedical.informationFile.DateBirth</p>
                                <p class="card-text">Sexe :@OrdreMedical.informationFile.sexe</p>
                                <p class="card-text">Date Of Release : @OrdreMedical.informationOrdreMedical.DateCreate</p>
                                
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <button class=" btn btn-success w-100"  @onclick="()=>OnValidateOrdreMedical(OrdreMedical.informationOrdreMedical.Id)">Validate Ordre Medical
                                                @if (IndexValidateBtn == OrdreMedical.informationOrdreMedical.Id)
                                                {
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    <span class="sr-only">Loading...</span>
                                                }
                                               

                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class=" btn btn-primary w-100" data-bs-toggle="modal" @onclick="()=>OnShowAccountPatientOrdreMedical(OrdreMedical.informationOrdreMedical.Id)" data-bs-target="#staticBackdrop2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                                </svg>Information Account
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button @onclick="()=>OnUpdateOrdreMedicalId(OrdreMedical.informationOrdreMedical.Id)" class=" btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                                </svg>Show Detaill
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               

                </div>
              
            </div>
        
    </div>
</div>




<div class="container">
    <div class="form-control">
        <button class="btn btn-secondary" style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ordre Medical</button>
    </div>
</div>


<div class="shadow-lg p-3 mb-5 alert-warning rounded">
    <p class="text-center">List of patients in case of examination</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosTreated)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                  

                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />

<div class="shadow-lg p-3 mb-5 alert-primary rounded">
    <p class="text-center">The patient list is on hold.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Count Appoiment</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">absent status</th>
                <th scope="col">treatment Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosStill)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName -- @item.PatientInformation.LastName</td>
                    <td>@item.PatientAppoimentInformation.AppoimentCount</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnAbsent(item.PatientAppoimentInformation.Id)" class="btn btn-danger">
                            absent
                            @if (IndexBtnOne == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>
                    <td>
                        <button @onclick="()=>OnTreated(item.PatientAppoimentInformation.Id)" class="btn btn-warning">
                            to treat
                            @if (IndexBtnTwo == item.PatientAppoimentInformation.Id)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>


                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />
<div class="shadow-lg p-3 mb-5 alert-danger rounded">
    <p class="text-center">List of patients in absence</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
               
                <th scope="col">treatment Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosAbsent)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnTreated(item.PatientAppoimentInformation.Id)" class="btn btn-warning">
                            to treat
                            @if (IndexBtnTwo == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>

                </tr>
            }


        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Information Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    
                    
                       <li class="list-group-item">@PatientInformationDto.LastName </li>
                <li class="list-group-item">@PatientInformationDto.FirstName</li>
                <li class="list-group-item">@PatientInformationDto.DateOfBirth</li>
                <li class="list-group-item">@PatientInformationDto.Sexe</li>
                <li class="list-group-item">@PatientInformationDto.NationalNumber</li>
                <li class="list-group-item">@PatientInformationDto.NumberPhone</li>
                
              
                    
                </ul>
               
            </div>
         
        </div>
    </div>
</div>




<div class="modal fade" id="staticBackdrop3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                  <tr>
                      
                       <td>File Prescription</td>
                        <td>File Radio</td>
                        <td>File Analyse</td>
                  </tr>
                    <tr>
                        @if(ItemOrdreMedicalToView != null)
                        {<td>
                            @if (ItemOrdreMedicalToView.FilePrescription == true)
                            {
                                    <button @onclick="DownloadFilePrescription" class="btn btn-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                        </svg>Download
                                    </button>
                            }
                            </td>
                            <td>
                            @if (ItemOrdreMedicalToView.FileRadio == true)
                            {
                                <td>
                                    <button @onclick="DownloadFileRadio" class="btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                        </svg>Download
                                    </button>
                                </td>
                            }
                              </td>
                            <td>
                            @if (ItemOrdreMedicalToView.fileAnalyse == true)
                            {
                                <td>
                                    <button @onclick="DownloadFileAnalyse" class="btn btn-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                        </svg>Download
                                    </button>
                                </td>
                            }
                            </td>
                        }
                    </tr>


              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>