@page "/ListAppoimentPaientDoctor/{CabinetId}"
@inherits ListAppoimentPatientDoctorComponentBase

@if (IsLoading == true)
{
    <WaitComponent />
}

<div class="container d-flex">
    <input @bind="DateAppoiment" type="date" class="form-control" /><button @onclick="OnSearch" class="btn btn-dark">
        Search
        @if (IndexBtnSearshloading ==true)
        {


            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        }
    </button>
</div>
<div class="shadow-lg p-3 mb-5 alert-warning rounded">
    <p class="text-center">List Patient Treadted</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">Delay Appoiment</th>
                  <th scope="col">Passed Appoiment</th>
                <th scope="col">File Médical</th>
               

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosTreated)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName</td>
                    <td>@item.PatientInformation.LastName</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td><button class="btn btn-success" @onclick="()=>OnDelyed(item.PatientAppoimentInformation.Id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delaye
                            @if( IndexBtnDelay == IdAppoimentDelyed)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                        </button></td>
                    <td><button @onclick="()=>OnPassed(item.PatientAppoimentInformation.Id)" class="btn btn-primary">Passed
                            @if (IndexBtnthree == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>
                    <td><button class="btn btn-secondary">Go File Medical</button></td>


                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />

<div class="shadow-lg p-3 mb-5 alert-primary rounded">
    <p class="text-center">List Patient Still await.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Count Appoiment</th>
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">set absent</th>
                <th scope="col">set Treated</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosStill)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName -- @item.PatientInformation.LastName</td>
                    <td>@item.PatientAppoimentInformation.AppoimentCount</td>
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnAbsent(item.PatientAppoimentInformation.Id)" class="btn btn-danger">
                            absent
                            @if (IndexBtnOne == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                        </button>
                    </td>
                    <td>
                        <button @onclick="()=>OnTreated(item.PatientAppoimentInformation.Id)" class="btn btn-warning">
                            Treatd
                            @if (IndexBtnTwo == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                        </button>
                    </td>


                </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />
<div class="shadow-lg p-3 mb-5 alert-danger rounded">
    <p class="text-center">list Patient Absent</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
              
                <th scope="col">NN</th>
                <th scope="col">Number Phone</th>
                <th scope="col">Set Treated</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.planningDtosAbsent)
            {
                <tr>
                    <td scope="row">@item.PatientInformation.FirstName -- @item.PatientInformation.LastName</td>
                   
                    <td>@item.PatientInformation.NationalNumber</td>
                    <td>@item.PatientInformation.NumberPhone</td>
                    <td>
                        <button @onclick="()=>OnTreated(item.PatientAppoimentInformation.Id)" class="btn btn-warning">
                            Treatd
                            @if (IndexBtnTwo == item.PatientAppoimentInformation.Id)
                            {


                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                        </button>
                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>



<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Adress Of Cabinet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" @bind="DateAppoiment" type="date" />
            </div>
            <div class="modal-footer">
                <button type="button"  @onclick="()=>DelayAppoiment()" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>

            </div>
        </div>
    </div>
</div>