@page "/AppoimentsMedicalList"
@inherits ListOfAppoimentMedicalComponentBase
@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}


<div class="container d-flex">
    <input @bind="DateAppoiment" min="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control" /><button @onclick="OnSearch" class="btn btn-dark">
        Search
      
    </button>
</div>
<br />
<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/ListAppointment.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
            <div class="text-center mx-auto">
                <h3>
                    The patient medical reservation list
                </h3>
            </div>
        </div>
        
    </div>
</div>
@foreach (var appointmentInformation in ListappointmentInformationTemp)
{
    <div class="card">
        <div class="card-header">
            Appointment Information
        </div>
        <div class="card-body">
            <h5 class="card-title">Clinic Name : @appointmentInformation.CabinetInformation.Name</h5>
            <p class="card-text">Date Reservation : @appointmentInformation.DateAppoiment</p>
            <p class="card-text">patient arrangement : @appointmentInformation.CountOfPatient</p>
            <p class="card-text">The full name of the doctor :@appointmentInformation.DoctorInformation.FirstName @appointmentInformation.DoctorInformation.LastName</p>
            <p class="card-text">Work start time : @appointmentInformation.DoctorInformation.TimeReady.TimeOfDay</p>
            <p class="card-text">Work end time : @appointmentInformation.DoctorInformation.TimeEnd.TimeOfDay</p>
            <p class="card-text">maximum number of patients: @appointmentInformation.DoctorInformation.NumberPatientAccepted</p>
            <div class="d-flex">
                <button @onclick="()=>OnDeleteMedicalAppoiment(appointmentInformation.Id)" class="btn btn-danger mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                    </svg>Delete Appointment
                   @if(Index == appointmentInformation.Id){
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                   }
                </button><span class="empty-space"></span><button @onclick="()=>OnUpdateAdressMap(appointmentInformation.CabinetInformation.AdressMap)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>  View Address Map
                </button>
            </div>

        </div>
    </div>
    <br />
}



<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Adress Of Cabinet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src=@AdressMap width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


@if (IsLoading == true)
{
    <WaitComponent></WaitComponent>
}
