
@page "/OrdreMedicalAdvices"
@inherits OrdreMedicalAdvicesDoctorComponentBase




@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}

@if (SuccessMessage != null)
{
    <CorrectRoutingMessage></CorrectRoutingMessage>
}
<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/Advice.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
            <div class="text-center mx-auto">
                <h3>
                    Medical advice section
                </h3>
            </div>
        </div>

    </div>
</div><br /><br />

@if (isLoading == true)
{
    <WaitComponent />
}





    @foreach (var ItemmedicalAdviceDoctorDtos in medicalAdviceDoctorDtos)
    {
        <div class="card text-center">
            <div class="card-header">
                Ordre Medical Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Patient Name  :  @ItemmedicalAdviceDoctorDtos.FileMedicalInformation.FirstName , @ItemmedicalAdviceDoctorDtos.FileMedicalInformation.LastName</h5>
                <h6 class="card-title">

                </h6>
            @if (@ItemmedicalAdviceDoctorDtos?.MedicalOrdreDetails?.Summary != null)
            {
                <p class="card-text">Summary Ordre Medical : @ItemmedicalAdviceDoctorDtos?.MedicalOrdreDetails?.Summary</p>
            }
                @if (ItemmedicalAdviceDoctorDtos != null)
                {
                <button @onclick="()=>OnSelectOrdreMedical(ItemmedicalAdviceDoctorDtos.MedicalOrdreDetails.Id)" class="btn btn-primary" data-bs-target="#exampleModalToggleChoix" data-bs-toggle="modal" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg> Detail
                </button>
                <button data-bs-target="#exampleModalToggleReclamation" @onclick="()=>OpenAdviceMedical(ItemmedicalAdviceDoctorDtos.MedicalOrdreDetails.Id)" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                    </svg>Send complaint  @ItemmedicalAdviceDoctorDtos.CountMessageNotViewed
                </button>
                }

            </div>
            <div class="card-footer text-muted">
            @if (@ItemmedicalAdviceDoctorDtos?.MedicalOrdreDetails?.DateValidation != null)
            {
                <p>Date Validation :</p>  @ItemmedicalAdviceDoctorDtos?.MedicalOrdreDetails?.DateValidation
            }
            </div>
        </div>
        <br />

    }





<!-- Modal Boit De Reclamation -->
<div class="modal fade" id="exampleModalToggleReclamation" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-around ">
                <div class="container">
                    <h1>Boîte de messagerie</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">Conversation</li>

                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    @if (adviceMedicalDtos != null)
                                    {


                                        @foreach (var ItemAdvice in adviceMedicalDtos)
                                        {
                                            <EditForm Model="ItemAdvice">
                                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                                <ValidationSummary />
                                                <div class="message">
                                                    <p>@ItemAdvice.FullNameReceiver</p>
                                                    message:  <p>@ItemAdvice.Message</p>
                                                    Time : <span class="time-right">@ItemAdvice.DateSend</span>
                                                </div>
                                                <hr />
                                            </EditForm>
                                        }
                                    }

                                </div>
                                <div class="card-footer">

                                    <div class="form-group">
                                        <textarea @bind="MessageSend" class="form-control" placeholder="Votre message"></textarea>
                                    </div>

                                    <button type="button" @onclick="()=>PostNewAdviceMedical(OrdreMedcialIdSelected)" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                                        </svg> Envoyer
                                    </button>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Choix -->
<div class="modal fade" id="exampleModalToggleChoix" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-around ">
                @if (medicalOrdreDetails.prescriptionLinesInformation != null)
                {
                    <button data-bs-target="#exampleModalTogglePrescription" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-success">Prescription</button>
                }
                @if (medicalOrdreDetails.analyseLinesInformation != null)
                {
                    <button data-bs-target="#exampleModalToggleAnalyse" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-primary">Analyse</button>
                }
                @if (medicalOrdreDetails.radioLinesInformation != null)
                {
                    <button data-bs-target="#exampleModalToggleRadio" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-danger">Radio</button>
                }
            </div>

        </div>
    </div>
</div>


<!-- Modal Prescription -->
<div class="modal fade" id="exampleModalTogglePrescription" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Medicament Name</td>
                        <td>Quantity</td>
                        <td>Status Validation</td>
                        <td>Date Validation</td>
                    </tr>
                    <tbody>
                        @if (medicalOrdreDetails.prescriptionLinesInformation != null)
                        {
                            @foreach (var PrescriptionItem in medicalOrdreDetails.prescriptionLinesInformation)
                            {
                                <tr>
                                    <td>@PrescriptionItem.MedicamentName</td>
                                    <td>@PrescriptionItem.Quantity</td>
                                    <td>@PrescriptionItem.statusPrescriptionLineDto.ToString()</td>
                                    <td>@PrescriptionItem?.DateValidation</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- Modal Radio -->
<div class="modal fade" id="exampleModalToggleRadio" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Information About Radio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Description</td>
                        <td>Status Validation</td>
                        <td>Download</td>

                    </tr>
                    <tbody>
                        @if (medicalOrdreDetails.radioLinesInformation != null)
                        {
                            @foreach (var RadioItem in medicalOrdreDetails.radioLinesInformation)
                            {
                                <tr>
                                    <td>@RadioItem.Description</td>
                                    <td>@RadioItem.statusRadio.ToString()</td>
                                    @if (RadioItem.statusRadio == DTO.StatusRadioDto.validate)
                                    {
                                        <td><button @onclick="()=>DownloadFileResultRadio(RadioItem.IdLineRadio)" class="btn btn-secondary">Download</button></td>
                                    }


                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- Modal Choix -->
<div class="modal fade" id="exampleModalToggleAnalyse" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Information About Analyse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Description</td>
                        <td>Status Validation</td>
                        <td>Download</td>

                    </tr>
                    <tbody>
                        @if (medicalOrdreDetails.analyseLinesInformation != null)
                        {
                            @foreach (var AnalyseItem in medicalOrdreDetails.analyseLinesInformation)
                            {
                                <tr>
                                    <td>@AnalyseItem.Description</td>
                                    <td>@AnalyseItem.statusAnalyse.ToString()</td>
                                    @if (AnalyseItem.statusAnalyse == DTO.StatusAnalyseDto.validate)
                                    {
                                        <td><button @onclick="()=>DownloadFileResultAnalyse(AnalyseItem.IdLineAnalyse)" class="btn btn-secondary">Download</button></td>
                                    }



                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
