@page "/OrdreMidical/{AppointmentId}/{FileId}"
@inherits PageOrdreMedicalComponentBase

@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}

@if (SuccessMessage != null)
{
    <CorrectRoutingMessage></CorrectRoutingMessage>
}




@if(MedicalFileArchive != null)
{
    <div class="shadow-lg p-3 mb-5 bg-light rounded">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <img src="/OrdreMedical.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
                </div>
                <div class="text-center mx-auto">
                    <h3>Patient Ordre Medicals List </h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 mx-auto">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item border-bottom">First Name: @MedicalFileArchive?.informationFileMedical?.FirstName </li>
                        <li class="list-group-item border-bottom">Last Name:@MedicalFileArchive?.informationFileMedical?.LastName </li>
                        <li class="list-group-item border-bottom">Sexe : @MedicalFileArchive?.informationFileMedical?.sexe  </li>
                        <li class="list-group-item border-bottom">Date of Birth : @MedicalFileArchive?.informationFileMedical?.DateBirth.ToString("yyyy-MM-dd")  </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @if (isLoading == true)
{
    <WaitComponent />
}
    <br />

    @foreach (var OrdreMedicalItem in ListmedicalOrdre)
    {
        <div class="card text-center">
            <div class="card-header">
               Ordre Medical Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Created by a doctor  :  @OrdreMedicalItem.doctorInformation.FirstName , @OrdreMedicalItem.doctorInformation.LastName</h5>
                <h6 class="card-title">
                    Doctor specialty :
                @foreach (var Specialitie in @OrdreMedicalItem.doctorInformation.Specialities)
                {
                   @Specialitie <a>,</a>
                }
                </h6>
                <p class="card-text">Summary : @OrdreMedicalItem?.medicalOrdreDetails?.Summary</p>
                @if(OrdreMedicalItem != null)
                {
                    <button @onclick="()=>OnSelectOrdreMedical(OrdreMedicalItem.medicalOrdreDetails.Id)" class="btn btn-primary" data-bs-target="#exampleModalToggleChoix" data-bs-toggle="modal" data-bs-dismiss="modal">Details</button>
                }
               
            </div>
            <div class="card-footer text-muted">
                Validated Date :@if (@OrdreMedicalItem?.medicalOrdreDetails?.DateValidation !=null) {@OrdreMedicalItem?.medicalOrdreDetails?.DateValidation
                }
                else
                {
                    <p>It has not been validated yet</p>
                }
            </div>
        </div>
        <br /> 
     
    }
  


   


}



<!-- Modal Choix -->
<div class="modal fade" id="exampleModalToggleChoix" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
               
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-around ">
                @if (medicalOrdreDetails.prescriptionLinesInformation != null)
                {
                    <button data-bs-target="#exampleModalTogglePrescription" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-success">Prescription</button>
                }   
                @if (medicalOrdreDetails.analyseLinesInformation != null)
                {
                    <button data-bs-target="#exampleModalToggleAnalyse" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-primary">Analyse</button>
                }  
                @if (medicalOrdreDetails.radioLinesInformation != null)
                {
                    <button data-bs-target="#exampleModalToggleRadio" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-danger">Radio</button>
                }
            </div>
            
        </div>
    </div>
</div>


<!-- Modal Prescription -->
<div class="modal fade" id="exampleModalTogglePrescription" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Prescription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Medicament Name</td>
                        <td>Quantity</td>
                        <td>Status Validation</td>
                        <td>Date Validation</td>
                    </tr>
                    <tbody>
                        @if (medicalOrdreDetails.prescriptionLinesInformation != null)
                        {
                            @foreach (var PrescriptionItem in medicalOrdreDetails.prescriptionLinesInformation)
                            {
                                <tr>
                                    <td>@PrescriptionItem.MedicamentName</td>
                                    <td>@PrescriptionItem.Quantity</td>
                                    <td>@PrescriptionItem.statusPrescriptionLineDto.ToString()</td>
                                    <td>@PrescriptionItem?.DateValidation</td>
                                </tr>
                            }
                        }
                     
                    </tbody>
                </table>
            </div>
         
        </div>
    </div>
</div>
<!-- Modal Radio -->
<div class="modal fade" id="exampleModalToggleRadio" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Information About Radio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Description</td>
                        <td>Status Validation</td>
                        <td>Download</td>
                        
                    </tr>
                    <tbody>
                        @if (medicalOrdreDetails.radioLinesInformation != null)
                        {
                            @foreach (var RadioItem in medicalOrdreDetails.radioLinesInformation)
                            {
                                <tr>
                                    <td>@RadioItem.Description</td>
                                    <td>@RadioItem.statusRadio.ToString()</td>
                                   @if( RadioItem.statusRadio == DTO.StatusRadioDto.validate)
                                    {
                                        <td><button @onclick="()=>DownloadFileRadio(RadioItem.IdLineRadio)" class="btn btn-secondary">Download</button></td>
                                    }
                                  
                                    
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
<!-- Modal Choix -->
<div class="modal fade" id="exampleModalToggleAnalyse" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Information About Analyse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Description</td>
                        <td>Status Validation</td>
                        <td>Download</td>

                    </tr>
                    <tbody>
                        @if (medicalOrdreDetails.analyseLinesInformation != null)
                        {
                            @foreach (var AnalyseItem in medicalOrdreDetails.analyseLinesInformation)
                            {
                                <tr>
                                    <td>@AnalyseItem.Description</td>
                                    <td>@AnalyseItem.statusAnalyse.ToString()</td>
                                    @if(AnalyseItem.statusAnalyse== DTO.StatusAnalyseDto.validate)
                                    {
                                        <td><button @onclick="()=>DownloadFileAnalyse(AnalyseItem.IdLineAnalyse)" class="btn btn-secondary">Download</button></td>
                                    }
                                  


                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
</div>



<!-- Modal Add File -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Prescription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="PrescriptionLineDto">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
            <div class="modal-body">
               @foreach(var PrescriptionItem in ListPrescriptionLineDto)
                {
                    
                        <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="PrescriptionItem.MedicamentName" type="text" placeholder="Name Of Medicament">  <input class="form-control w-25" @bind="PrescriptionItem.Description" type="text" placeholder="Description">   <input @bind="PrescriptionItem.Quantity" class="form-control w-25" type="number" min="1" placeholder="Quantity">
                        </div>
                }
              
               
                    <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="PrescriptionLineDto.MedicamentName" type="text" placeholder="Medicament Name">  <input class="form-control w-25" @bind="PrescriptionLineDto.Description" type="text" placeholder="Description">   <input @bind="PrescriptionLineDto.Quantity" class="form-control w-25" type="number"  min="1"  placeholder="Quantity">
                    </div>
                    <input class="form-control" @bind="PrescriptionDto.Instruction" type="text" placeholder="Instruction">
                
              
                <div class="form-control">
                        <button class="btn btn-success" style="width:100%;" @onclick="OnAddLinePrescription" data-bs-toggle="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>add medicine
                        </button>
                </div>
                <div class="mb-3">
                        <label for="formFile" class="form-label">upload pdf file</label>
                    <InputFile class="form-control" type="file" OnChange="HandleFilePrescriptionSelected" />
                </div>
            </div>
            
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" @onclick="OnSkipePrescription" data-bs-toggle="modal" data-bs-dismiss="modal">Skip</button>
                <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" @onclick="OnAddPrescription" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>

            </div>
            </EditForm>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Radio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="LineRadioMedicalDto">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="modal-body">
                @foreach (var RadioItem in ListLineRadioDto)
                {

                    <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="RadioItem.Description" type="text" placeholder="Description Radio">  <input class="form-control w-25" @bind="RadioItem.Instruction" type="text" placeholder="Radio Instruction">  
                    </div>


                }


                <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="LineRadioMedicalDto.Description" type="text" placeholder="Description Radio">  <input class="form-control w-25" @bind="LineRadioMedicalDto.Instruction" type="text" placeholder="Radio Instruction">
                    </div>
               


                <div class="form-control">
                        <button class="btn btn-success" style="width:100%;" @onclick="OnAddLineRadio" data-bs-toggle="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg> Add Line Radio
                        </button>
                </div>
                <div class="mb-3">
                        <label for="formFile" class="form-label">upload pdf file</label>
                    <InputFile class="form-control" type="file" OnChange="HandleFileRadioSelected" />
                </div>
        </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">previous</button>
                <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle3" @onclick="OnSkipRadio" data-bs-toggle="modal" data-bs-dismiss="modal">Skip</button>
                <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" @onclick="OnAddRadio" data-bs-dismiss="modal">Next</button>
               
            </div>
              </EditForm>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Analyse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="LineAnalyseMedicalDto">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="modal-body">
                    @foreach (var AnalyseItem in ListLineAnalyseDto)
                    {

                        <div class="form-control d-flex">
                            <input class="form-control w-50" @bind="AnalyseItem.Description" type="text" placeholder="Analyse Description">  <input class="form-control w-25" @bind="AnalyseItem.Instruction" type="text" placeholder="Analyse Instruction">   
                        </div>


                    }


                    <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="LineAnalyseMedicalDto.Description" type="text" placeholder="Analyse Description">  <input class="form-control w-25" @bind="LineAnalyseMedicalDto.Instruction" type="text" placeholder="Analyse Instruction">
                    </div>



                    <div class="form-control">
                        <button class="btn btn-success" style="width:100%;" @onclick="OnAddLineAnalyse" data-bs-toggle="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>Add Line Analyse
                        </button>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">upload pdf file</label>
                        <InputFile class="form-control" type="file" OnChange="HandleFileAnalyseSelected" />
                    </div>
                </div>
            <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">previous</button>
                <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle4" @onclick="OnSkipAnalyse" data-bs-toggle="modal" data-bs-dismiss="modal">Skip</button>
                <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle4" @onclick="OnUpdateAnalyse" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
            </div>
            </EditForm>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Ordre Medical</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="OrderMedicalToAddDro">
                <DataAnnotationsValidator />
                <ValidationSummary />
            <div class="modal-body">

               
                    <div class="form-floating">
                        <InputSelect class="form-control" @bind-Value="@OrderMedicalToAddDro.Visibility">

                            <option value="0">Private</option>

                            <option value="1"> Public </option>

                        </InputSelect>
                        <label for="floatingPassword">Visibility:</label>
                    </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Summary:</label>
                    <textarea class="form-control" @bind="OrderMedicalToAddDro.Summary" id="message-text"></textarea>
                </div>
               



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">previous</button>
                    <button type="submit" class="btn btn-primary" @onclick="Done" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg>Done
                    </button>
            </div>
            </EditForm>
        </div>
    </div>
</div>


<div class="container">
    <div class="form-control">

        <button class="btn btn-secondary" style="width:100%;" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> Add Ordre Medical
        </button>
    </div>
</div>
