@page "/SpecialisteAnalyse"
@inherits PageSpecialisteAnalyseComponentBase




@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message=@ErrorMessage></ErrorRoutingMessage>
}
@if (SuccessMessage != null)
{
    <CorrectRoutingMessage></CorrectRoutingMessage>
}
<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/Analyse.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
            <div class="text-center mx-auto">
                <h3>
                    Medical Analyse
                </h3>
            </div>
        </div>

    </div>
</div>
<br />
<div class="d-flex justify-content-center">
    <div class="input-group w-75">
        <div class="input-group-prepend" style="border-radius:25px;">
            <span class="input-group-text" id="">Analyse CodeQr</span>
        </div>
        <input type="text" @bind="CodeQr" placeholder="Analyse CodeQr" style="border-radius:25px;" class="form-control">
        <button @onclick="()=>OnAddCodeQr(CodeQr)" class="btn btn-success " style="border-radius:25px;">
            research 
            @if (ButtonAddIsLoding == true)
            {


                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
            }
        </button>
    </div>
</div>

@if (IsLoading == true)
{
    <WaitComponent></WaitComponent>
}




@if (MessageHasBeenValidated != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            Medical Order Has Been Validated
        </div>
    </div>
}





@if (this.InformationAnalyseResultDto != null)
{
    <div class="d-block justify-content-center">
        <div class="card border-secondary mb-3 w-100" style="   border-radius:30px;">
            <div class="card-header">Information File Medical</div>
            <div class="card-body text-secondary">
                <p class="card-text">First name : @InformationAnalyseResultDto.FileMedicalInformation.FirstName</p>
                <p class="card-text">Last Name : @InformationAnalyseResultDto.FileMedicalInformation.LastName</p>
                <p class="card-text">Date Of Birth : @InformationAnalyseResultDto.FileMedicalInformation.DateOfBirth.ToString("yyyy-MM-dd")</p>
                <p class="card-text">Sexe : @InformationAnalyseResultDto.FileMedicalInformation.Sexe</p>
            </div>
        </div>

        <div class="card border-secondary mb-3 w-100" style="   border-radius:30px;">
            <div class="card-header">Infourmation Account File Medical</div>
            <div class="card-body text-secondary">

                <p class="card-text">User Name : @InformationAnalyseResultDto.PatientInformation.FirstName , @InformationAnalyseResultDto.PatientInformation.LastName</p>
                <p class="card-text">National Number : @InformationAnalyseResultDto.PatientInformation.NationalNumber</p>
                <p class="card-text">Date Of Birth : @InformationAnalyseResultDto.PatientInformation.DateOfBirth.ToString("yyyy-MM-dd")</p>
                <p class="card-text">Sexe : @InformationAnalyseResultDto.PatientInformation.Sexe</p>
            </div>
        </div>


        <div class="card border-secondary mb-3 w-100" style="   border-radius:30px;">
            <div class="card-header">Information Doctor</div>
            <div class="card-body text-secondary">
                <p class="card-text">First Name : @InformationAnalyseResultDto.DoctorInformation.FirstName</p>
                <p class="card-text">LastName : @InformationAnalyseResultDto.DoctorInformation.LastName</p>
                <p class="card-text">Email : @InformationAnalyseResultDto.DoctorInformation.Email</p>
                <p class="card-text">Release Date : @InformationAnalyseResultDto.informationAnalyseDto.DateRelease</p>

            </div>
        </div>
        @foreach (var line in InformationAnalyseResultDto.informationAnalyseDto.LinesAnalyse.ToList())
        {


            <div class="card border-secondary mb-3 w-100" style="   border-radius:30px;">
                <div class="card-header">Information Analyse</div>
                <div class="card-body text-secondary">
                    <p class="card-text">Description Radio : @line.Description</p>
                    <p class="card-text">Instruction Radio :@line.Instruction</p>
                    <InputFile class="form-control" type="file" OnChange="HandleFileAnalyseResultSelected" />
                    <button class="btn btn-success" @onclick="()=>OnAddAnalyseResult(line.IdLineAnalyse)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg> Validate Result
                        @if (ButtonLoaddingOnAddResult == line.IdLineAnalyse)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        }
                       
                      
                    </button>
                </div>
            </div>
        }
    </div>

}
